
html{
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a{
    padding: 25px;
    margin-top: 47px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
    a:hover{
        color: rgb(61, 66, 66);
        background: rgb(56, 156, 173);
    }

h3{
    color: rgb(44, 44, 49);
}

/* Circulo para regresar hasta arriba */
.regresaArriba{
    position: fixed;
    left: 95%;
    top: 90%;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    background: rgb(124, 117, 117);
}
.regresaArribaDesaparecer{
    position: fixed;
    left: 95%;
    top: 90%;
    height: 0px;
    width: 0px;
    padding: 0px;
    border-radius: 50%;
    background: rgb(124, 117, 117);
    /* transform: translate(-200%,-120%); */
}


 /* Cabeza de la pagina */
#cabeza{
    position: fixed;
    width: 100%;
    background: rgb(99, 178, 194);
    text-align: center;
    font-size: 40px;
    /* margin-top: 0px; */
}

                /* MENU */
.menuCerrado{
    z-index: 998;
    position: fixed;
    background: rgba(0, 0, 0, 0.550);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    display: flex;
    flex-flow: column nowrap;
    transform: translate(0,-120%);
    transition: transform 0.3s ease;
}
.menuAbierto{
    z-index: 998;
    position: fixed;
    background: rgba(0, 0, 0, 0.550);
    width: 100%;
    height: 104%;
    text-align: center;
    font-size: 28px;
    display: flex;
    flex-flow: column nowrap;
    transform: translate(0,-3%);
    transition: transform 0.3s ease;
}
    .botonMenu{
        position: fixed;
        left: 0px;
        top: 0%;
        z-index: 999;
    }


                /* SECCION 1 - RELOJ/ALARMA */
.botonSec1{
    font-size: 18px;
    border-radius: 5%;
    margin: 10px;
    padding: 8px;
    background: rgb(51, 104, 104);
    color: seashell;
}
    .botonSec1:hover{
        background: rgb(183, 179, 189);
        color: #000;
    }
.espacioChico{
    margin-top: 120px;
}

                    /* SECCION 2 - EVENTOS TECLADO */
#fondoCirculoSec2{
    display: flex;
    height: 250px;
    width: 100%;
    background: rgb(138, 136, 139);
}
    #circulo{
        /* El relative es importante para que funcione el "left", "top" y esos */
        position: relative; 
        margin: 0px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: rgb(99, 178, 194);
    }
        

    /* ESPACIO ENTRE SECCIONES */
.espacio{
    padding: 8rem;
    padding-top: 3rem;
    /* cada seccion ocupa como minimo el tamaño de la pantalla */
    min-height: 100vh;
    font-size: 25px;
    text-align: center;
}



